.wrapper{
	padding: 0;
	margin: 0;
}
/* profile sidebar styling */
	.profile-info{
		height: 400px;
		background-color: #F7F7F7;
		padding: 20px 0 0;
		text-align: center;
		border-right: solid 1px #B9B9B9;
	}
	.profile-info .image img{
		width: 30%;
		height: 40%;
	}

/* newsfeed styling */
	.newsfeed{
		height: auto;
		background-color: #FBFBFB;
		padding-top: 20px;
		border-right: solid 1px #B9B9B9;
	}
	.user-story{
		background-color: #F3F3F3;
		border: solid 1px #B9B9B9;
		margin: 2px 0 15px 0;
		padding: 20px 10px 10px 10px;
	}
	.user-story .story{
		padding: 0 0 5px 0;
		border-bottom: solid 1px #B9B9B9;
	}
	.user-story .like{
		padding: 10px 0;
		border-bottom: solid 1px #B9B9B9;
		margin-bottom: 10px
	}

	.user-story .like a:hover{
		text-decoration: none;
	}
	.user-story .like .flash i{
		color: #F3C206;
	}

	.user-story .like .commenting i{
		color: #169431;
		padding: 0;
	}

	.user-story .comment{
		height: 100px;
		padding: 10px;
		background-color: #E0EAF1;
	}

/* advertisement div/sidebar */
	.ad-content{
		height: auto;
		background-color: #F7F7F7;
	}
	.advertisement{
		height: 200px;
		width: 90%;
		text-align: center;
		background-color: #aaa;
		margin: 7px 0 9px 0;
	}