body{
	margin: 0;
	padding: 0;
}
.job-content{
	height: auto;
	background-color: #F5F4F4;
	border: solid 1px #8C8C8C;
	padding-bottom: 40px;
}
/*compay website link*/
	.comp-website{
		padding: 8px 0 0 10px;
		margin-bottom: 20px;
		width: 100%;
	}
	.comp-website a {
		text-decoration: none;
		float: right;
	}

/*company details*/
	.comp-details{
		width: auto;
		padding: 15px 0 0 0;
		text-align: center;
	}
	.comp-details ul{
		list-style-type: none;
		width: auto;
	}
	.comp-details ul li{
		width: auto;
	}
	.comp-details ul li span, #comp-name{
		font-size: 2.2rem;
	}
	.comp-details ul li span, #comp-contact, #comp-address, #comp-email{
		font-size: 18px;
	}
	#comp-address i{
		color: #FF3C3C;
	}
	#comp-contact i{
		color: #2D8A2E;
	}
	#comp-email i{
		color: #0B750D;
	}

/*job requirements*/
	.job-requirements{
		padding: 20px 0 10px 0;
	}
	.job-requirements ul{
		list-style-type: none;
	}
	.job-requirements ul li{
		padding: 3px;
	}
	.job-requirements ul li .requirements-title{
		font-size: 18px;
		color: #404040;
		font-weight: 600;
		font-style: italic;
	}
	.job-requirements ul li .requirements-ans{
		font-size: 18px;
	}
	.requirements-title i {
		color: #189818;
	}

/*job details*/
	.job-details{
		padding: 15px 40px;
	}
	.job-details span{
		width: auto;
		border-bottom: solid 1px;
		color: #808080;
		font-size: 26px;
	}
	.job-details p{
		padding-top: 8px;
		font-size: 17px;
	}

/* apply btn */
	.apply-btn{
		padding: 10px 40px;
	}

/* advertisement div/sidebar */
	.ad-content{
		height: 500px;
		background-color: #F1F1F1;
	}
	.advertisement{
		height: 200px;
		width: 90%;
		text-align: center;
		background-color: #aaa;
		margin: 7px 0 9px 0; 
	}


/*responsive styling starts*/
@media screen and (max-width: 767px){
	.ad-content{
		display: none;
	}
}